In [13]:
import pandas as pd
df = pd.read_csv("data.csv")

In [14]:
df.head()

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198,FWD,3990,1680,1505,5,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248,FWD,3995,1695,1555,5,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197,FWD,3585,1595,1550,5,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197,FWD,3995,1745,1510,5,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393,RWD,4735,1830,1795,7,55.0

In [15]:
df.tail()

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
1869,Maruti Suzuki,Ritz Vxi (ABS) BS-IV,245000,2014,79000,Petrol,Manual,Faridabad,White,Second,Individual,1197,FWD,3775,1680,1620,5,43.0
1870,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,Individual,2179,FWD,4585,1890,1785,7,70.0
1871,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814,FWD,3495,1550,1500,5,32.0
1872,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,Individual,1196,FWD,3795,1680,1427,5,45.0
1873,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995,RWD,4936,1868,1479,5,65.0

In [16]:
print('rows: ', df.shape[0])
print('columns: ', df.shape[1])

rows:  1874
columns:  18

In [17]:
df.isnull().sum()

Make                0
Model               0
Price               0
Year                0
Kilometer           0
FuelType            0
Transmission        0
Location            0
Color               0
Owner               0
SellerType          0
Engine              0
Drivetrain          0
Length              0
Width               0
Height              0
SeatingCapacity     0
FuelTankCapacity    0
dtype: int64

In [18]:
df = df.fillna(df.mean)
df

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198,FWD,3990,1680,1505,5,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248,FWD,3995,1695,1555,5,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197,FWD,3585,1595,1550,5,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197,FWD,3995,1745,1510,5,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393,RWD,4735,1830,1795,7,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,Maruti Suzuki,Ritz Vxi (ABS) BS-IV,245000,2014,79000,Petrol,Manual,Faridabad,White,Second,Individual,1197,FWD,3775,1680,1620,5,43.0
1870,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,Individual,2179,FWD,4585,1890,1785,7,70.0
1871,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814,FWD,3495,1550,1500,5,32.0
1872,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,Individual,1196,FWD,3795,1680,1427,5,45.0
1873,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995,RWD,4936,1868,1479,5,65.0

In [19]:
df = df.fillna(df.median)
df

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198,FWD,3990,1680,1505,5,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248,FWD,3995,1695,1555,5,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197,FWD,3585,1595,1550,5,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197,FWD,3995,1745,1510,5,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393,RWD,4735,1830,1795,7,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,Maruti Suzuki,Ritz Vxi (ABS) BS-IV,245000,2014,79000,Petrol,Manual,Faridabad,White,Second,Individual,1197,FWD,3775,1680,1620,5,43.0
1870,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,Individual,2179,FWD,4585,1890,1785,7,70.0
1871,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814,FWD,3495,1550,1500,5,32.0
1872,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,Individual,1196,FWD,3795,1680,1427,5,45.0
1873,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995,RWD,4936,1868,1479,5,65.0

In [20]:
df = df.fillna(df.mode)
df

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198,FWD,3990,1680,1505,5,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248,FWD,3995,1695,1555,5,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197,FWD,3585,1595,1550,5,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197,FWD,3995,1745,1510,5,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393,RWD,4735,1830,1795,7,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,Maruti Suzuki,Ritz Vxi (ABS) BS-IV,245000,2014,79000,Petrol,Manual,Faridabad,White,Second,Individual,1197,FWD,3775,1680,1620,5,43.0
1870,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,Individual,2179,FWD,4585,1890,1785,7,70.0
1871,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814,FWD,3495,1550,1500,5,32.0
1872,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,Individual,1196,FWD,3795,1680,1427,5,45.0
1873,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995,RWD,4936,1868,1479,5,65.0

In [21]:
df.dtypes

Make                 object
Model                object
Price                 int64
Year                  int64
Kilometer             int64
FuelType             object
Transmission         object
Location             object
Color                object
Owner                object
SellerType           object
Engine                int64
Drivetrain           object
Length                int64
Width                 int64
Height                int64
SeatingCapacity       int64
FuelTankCapacity    float64
dtype: object